/* 
  Theme 'lightgray' for niichrome 2ch browser 
*/

* {
  margin: 0;
  padding: 0;
}
html, body {
  font-size: 16px;
  height: 100%;
  min-height: 100%;
  background-color: #ececec;
  color: #3b3b3b;
}

/* thread list */ 
div#tlist {
  background-color: #f4f4f4;
}
#tlist_header {
  background-color: rgba(240,240,240,0.8);
  color: #434343;
}
#tlist_row_wrapper .body .row:hover .col {
  background-color: #cacaca;
  color: #000000;
}
#tlist_row_wrapper .col {
  border: 0px solid #cdcdcd;
}
#tlist_row_wrapper .header .col {
  color: #232323;
  background-color: transparent;
  border-bottom: 1px solid #afafaf;
}


div#thread {
  color: #3b3b3b;
  background-color: #f8f8f8;
}
div#thread #thread_title {
  background-color: rgba(240,240,240,0.8);
  border-bottom: 1px solid #ececec;
  color: #0248E2;
}
/* response */
div#thread .res_wrapper {
  background-color: transparent;
}
.res_wrapper .res .res_header .num {
  color: #696969;
}
.res_wrapper .res .res_header .handle {
  color: #469942;
}
.res_wrapper .res .res_header .date {
  color: #8a8a8a;
}
.res_wrapper .res .res_header .uid {
  color: #9faf68;
}
.res_wrapper .res .res_header .be {
  color: #8a8a8a;
}
.res_wrapper .res .res_header .email {
  color: #CAAFCF;
}
.res_wrapper .res .res_header .host {
  color: gray;
}
.res_wrapper .res .content {
  color: #3b3b3b;
}
.res_wrapper .res .content a {
  color: #0248E2;
}



div#blist_wrapper {
  background-color: #dfdfdf;
}
div#blist {
  background-color: #dfdfdf;
}
div#blist #btn_bmlist {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1.0)), to(#232323));
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #8a8a8a;
  border-bottom: 1px solid #8a8a8a;
  color: #ffffff;
}
div#blist #btn_bmlist:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1.0)), to(#696969));
  color: black;
}
div#blist .cate0 {
  border: 1px solid #cacaca;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.5)), to(#999999));
}
div#blist .cate1:hover {
  background-color: #cacaca;
  color: #000000;
}
div#blist_toggle_bar {
  background-image: url(/img/mesh8.png);
  -webkit-filter:invert(70%);
}

#pane_wv {
  color: #cccccc;
}

div#tools {
  background-color: #e5e5e5;
  border-bottom: 1px solid #cccccc;
}
div#tools #btn_settings {
  content: url("/img/setting24.png");
  -webkit-filter:invert();
}
div#tools #rng_divider {
  background-color:transparent;
  border:1px solid gray;
}

/* click and reverse background for bbslist and threadlist */
.selected {
  background-color: #adadad;
  color: #000000;
}

.refpop {
  background-color:#efefef;
  border:1px solid gray;
  box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.4);
}

div#readhere {
  background-color: #9afa9a;
  color: #4c4c4c;
  box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.9);
}
hr#fetchline {
  border: 1px solid #3a9a5a;
}
div#readmore {
  color: #5080d8;
}
div#lbl_kakolog {
  background-color: #ff8c8c;
  color: #232323;
  box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.9);
}

.percentComplete {
  color: #232323;
}

.star_on24 {
  /*-webkit-filter:invert();*/
}
.reload24 {
  -webkit-filter:invert();
}
.arrow_up24 {
  -webkit-filter:invert();
}
.arrow_dn24 {
  -webkit-transform: rotate(180deg);
  -webkit-filter:invert();
}
.history24 {
  -webkit-filter:invert();
}
.readherefilter24 {
  -webkit-filter:invert();
}
.sortByMomentum24 {
  -webkit-filter:invert();
}
.readhere24 {
  -webkit-filter:invert();
}
.write24 {
  -webkit-filter:invert();
}

/* small loading image for using in cell partially  */
.reload_in_cell {
  background-image: url(/img/reload24.png);
  -webkit-filter:invert(); 
}
.loading_in_cell {
  background-image: url(/img/loading_rev16.gif);
}
.loading_in_cell_rev { /* black and white reversal of "loading_in_cell" */
  background-image: url(/img/loading_rev16.gif);
}
.remove_in_cell {
  content: url(/img/remove16.gif);
}
.loading_mini {
  content: url(/img/loading_rev16.gif);
}
.loading {
  content: url(/img/loading_rev16.gif);
}

::-webkit-scrollbar-track {
  background-color: #E7E7E7;
}
::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #c0c0c0;
}